@model VedaSystem.Application.ViewModels.CalendarioViewModel
@using VedaSystem.Domain.Models
@using VedaSystem.Web.Utils
@using VedaSystem.Domain.Enums
@using Newtonsoft.Json;
<div class="page-header border-0 mb-3">
    <h1 class="page-title text-primary-d2 text-150">
        Calendário
        <small class="page-info text-secondary-d4">
            <i class="fa fa-angle-double-right text-80 opacity-1"></i>
            Agendamentos
        </small>
    </h1>
</div>
<div id="alert-1" class="d-none alert bgc-white border-l-4 brc-purple-m1 shadow-sm" role="alert">
    Toque em um slot de data e mantenha pressionado para adicionar um novo evento.
</div>
<div class="row">
    <div class="col-12 col-md-9" id='calendar-container'>
        <div class="card acard">
            <div class="card-body p-lg-4">
                <div id='calendar' class="text-blue-d1"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 mt-3 mt-md-4" id='external-events'>
        <div class="bgc-secondary-l4 border-1 brc-secondary-l2 shadow-sm p-35 radius-1">
            <p class="text-120 text-primary-d2">
                Eventos arrastaveis
            </p>

            <p id="alert-2" class="alert bgc-white border-none border-l-4 brc-purple-m1">
                Arraste e solte os eventos a seguir ou clique em um slot de data para adicionar um novo evento
            </p>

            <div>
                <div class='fc-event badge bgc-blue-d1 text-white border-0 py-2 text-90 mb-1 radius-2px' data-class="bgc-blue-d1 text-white text-95">
                    Meu Evento 1
                </div>
                <div class='fc-event badge bgc-green-d2 text-white border-0 py-2 text-90 mb-1 radius-2px' data-class="bgc-green-d2 text-white text-95">
                    Meu Evento 2
                </div>
                <div class='fc-event badge bgc-red-d1 text-white border-0 py-2 text-90 mb-1 radius-2px' data-class="bgc-red-d1 text-white text-95">
                    Meu Evento 3
                </div>
                <div class='fc-event badge bgc-purple-d1 text-white border-0 py-2 text-90 mb-1 radius-2px' data-class="bgc-purple-d1 text-white text-95">
                    Meu Evento 4
                </div>
                <div class='fc-event badge bgc-orange-d1 text-white border-0 py-2 text-90 mb-1 radius-2px' data-class="bgc-orange-d1 text-white text-95">
                    Meu Evento 5
                </div>
            </div>

            <label class="mt-2">
                <input type="checkbox" id='drop-remove' class="mr-1" />
                Remover depois do uso
            </label>
        </div>

    </div>
</div>
