@model VedaSystem.Application.ViewModels.CalendarioViewModel
@using VedaSystem.Domain.Models
@using VedaSystem.Web.Utils
@using VedaSystem.Domain.Enums
@using Newtonsoft.Json;

@{
    Layout = null;
}

@{
    Usuario dadosUsuario = null;
    Terapeuta dadosTerapeuta = null;
    DadosExpress dadosExpress = new DadosExpress();
    dadosUsuario = dadosExpress.GetUsuario();
    dadosTerapeuta = dadosExpress.GetTerapeuta();
}
<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />
    <title>Calendário</title>
</head>
<body>
    @if (dadosUsuario.TipoUsuario == TipoUsuario.Paciente)
    {
        <div id="busca_calendario">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                    <label asp-for="Terapias" for="select-materiais" class="mb-0">
                    </label>
                </div>
                <div class="col-sm-3">
                    <select id="select-materiais" asp-for="TerapiaSelecionada" asp-items="@(new SelectList(Model.Terapias, "Id", "NomeTerapia"))" class="form-control">
                        <option>Selecione e Adicione</option>
                    </select>

                    <span asp-validation-for="Terapeutas" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-outline-info btn-text-slide-x mb-1" onclick="OpenTerapeutasPorTerapia(@Model.TerapiaSelecionada.Id)">Buscar Terapeutas</button>
                </div>
            </div>
        </div>
        <div id="terapeutas_list">
        </div>
    }
    <div id="calendario" class="page-content container container-plus">
        @if (Model != null)
        {
            @if (Model.Horarios != null)
            {
                @await Html.PartialAsync("_Calendario", Model)
            }
        }
    </div>
    <script src="~/lib/ace-v3.1.1/node_modules/bootbox/bootbox.all.js"></script>
    @*<script src="~/lib/ace-v3.1.1/views/pages/calendar/page-script.js"></script>*@
    <script>
        $(document).ready(function () {

            CarregarCalendarioTerapeuta('@Model.HorariosJson', '@Model.NomeTerapeuta');
        });
    </script>
</body>
</html>
