@model VedaSystem.Application.ViewModels.EmailViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="TerapeutaId" class="control-label"></label>
                <input asp-for="TerapeutaId" class="form-control" />
                <span asp-validation-for="TerapeutaId" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableSsl" /> @Html.DisplayNameFor(model => model.EnableSsl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryMethod" class="control-label"></label>
                <select asp-for="DeliveryMethod" class="form-control"></select>
                <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UseDefaultCredentials" /> @Html.DisplayNameFor(model => model.UseDefaultCredentials)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmailAdress" class="control-label"></label>
                <input asp-for="EmailAdress" class="form-control" />
                <span asp-validation-for="EmailAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBodyHtml" /> @Html.DisplayNameFor(model => model.IsBodyHtml)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Smtp" class="control-label"></label>
                <input asp-for="Smtp" class="form-control" />
                <span asp-validation-for="Smtp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
