@model VedaSystem.Domain.Models.Prescricao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Prescricao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerapeutaId" class="control-label"></label>
                <select asp-for="TerapeutaId" class ="form-control" asp-items="ViewBag.TerapeutaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class ="form-control" asp-items="ViewBag.PacienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataDaPrescricao" class="control-label"></label>
                <input asp-for="DataDaPrescricao" class="form-control" />
                <span asp-validation-for="DataDaPrescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidadeDaPrescricao" class="control-label"></label>
                <input asp-for="ValidadeDaPrescricao" class="form-control" />
                <span asp-validation-for="ValidadeDaPrescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
