@model IEnumerable<VedaSystem.Application.ViewModels.QuestionarioPosDiagnosticoViewModel>
@using VedaSystem.Domain.Enums;

@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />

    <title>Questionário pós-diagnóstico - Veda Admin</title>

    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/views/pages/table-datatables/page-style.css">

</head>

<body>
    <div class="page-content container container-plus">
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                Questionário pós-diagnóstico
                <small class="page-info text-dark-m3">
                    <i class="fa fa-angle-double-right text-80"></i>
                    dados de cadastro
                </small>
            </h1>
            <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
            </div>
        </div>

        <div class="card bcard h-auto">
            <form autocomplete="off" class="border-t-3 brc-blue-m2">
                <table id="datatable" class="d-style w-100 table text-dark-m1 text-95 border-y-1 brc-black-tp11 collapsed">
                    <thead class="sticky-nav text-secondary-m1 text-uppercase text-85">
                        <tr>
                            <th class="td-toggle-details border-0 bgc-white shadow-sm">
                                <i class="fa fa-angle-double-down ml-2"></i>
                            </th>
                            <th class="border-0 bgc-white pl-3 pl-md-4 shadow-sm">
                                <input type="checkbox" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Paciente.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Paciente.DataNascimento)
                            </th>
                            <th class="border-0 bgc-white shadow-sm w-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody class="pos-rel" id="tableBody-terapias">
                        @await Html.PartialAsync("_ListQuestionarioPosDiagnostico", Model)
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <footer class="footer d-none d-sm-block">
        <div class="footer-inner bgc-white-tp1">
            <div class="pt-3 border-none border-t-3 brc-grey-l2 border-double">
                <span class="text-primary-m1 font-bolder text-120">Veda</span>
                <span class="text-grey">Application &copy; 2021</span>
                <span class="mx-3 action-buttons">
                    <a href="#" class="text-blue-m2 text-150"><i class="fab fa-twitter-square"></i></a>
                    <a href="#" class="text-blue-d2 text-150"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-orange-d1 text-150"><i class="fa fa-rss-square"></i></a>
                </span>
            </div>
        </div>
        <div class="footer-tools">
            <a href="#" class="btn-scroll-up btn btn-dark mb-2 mr-2">
                <i class="fa fa-angle-double-up mx-2px text-95"></i>
            </a>
        </div>
    </footer>
    <!-- footer toolbox for mobile view -->
    <footer class="d-sm-none footer footer-sm footer-fixed">
        <div class="footer-inner">
            <div class="btn-group d-flex h-100 mx-2 border-x-1 border-t-2 brc-primary-m3 bgc-white-tp1 radius-t-1 shadow">
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0" data-toggle="modal" data-target="#id-ace-settings-modal">
                    <i class="fas fa-sliders-h text-blue-m1 text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0">
                    <i class="fa fa-plus-circle text-green-m1 text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                    <i class="fa fa-search text-orange text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0 mr-0">
                    <span class="pos-rel">
                        <i class="fa fa-bell text-purple-m1 text-120"></i>
                        <span class="badge badge-dot bgc-red position-tr mt-n1 mr-n2px"></span>
                    </span>
                </button>
            </div>
        </div>
    </footer>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-colreorder/js/dataTables.colReorder.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-select/js/dataTables.select.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/lib/ace-v3.1.1/app/browser/demo.js"></script>
    <script src="~/lib/ace-v3.1.1/views/pages/table-datatables/page-script.js"></script>
    <script>

        $(document).ready(function () {
            debugger;
            $('.tooltip-inner').hide();
            $('.radius-round').attr("placeholder", "Buscar Fichas Clinicas de Pacientes");
            $('a.btn.radius-round.btn-outline-primary').attr("onclick", "addFichaClinicaPaciente()");
            $('a.btn.radius-round.btn-outline-primary').tooltip({ title: "Adicionar Ficha Clinica" });
            $('a.btn.radius-round.btn-outline-primary').attr("data-original-title", "Adicionar Ficha Clinica")
        })

    </script>
</body>
</html>


