@model VedaSystem.Application.ViewModels.EstoqueMaterialViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />

    <title>Estoque - Veda Admin</title>

    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/nouislider/distribute/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/tiny-date-picker/tiny-date-picker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/tiny-date-picker/date-range-picker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/dist/css/ace-font.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ace-v3.1.1/dist/css/ace.css">
    <link rel="icon" type="image/png" href="~/lib/ace-v3.1.1/assets/favicon.png" />
</head>
<body>
    <di1v class="page-content container container-plus">
        <div class="card acard mt-2 mt-lg-3">
            <div class="card-header">
                <h3 class="card-title text-125 text-primary-d2">
                    <i class="far fa-edit text-dark-l3 mr-1"></i>
                    Cadastrar Estoque
                </h3>
            </div>
            <div class="card-body px-3 pb-1">
                @Html.HiddenFor(e => e.Id, new { id = "id-estoque", value = Guid.NewGuid().ToString() })
                <div class="form-group row">
                    <div class="col-sm-3 col-form-label text-sm-right pr-0">
                        <label asp-for="Descricao" for="descricao" class="mb-0">
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Descricao" class="form-control col-sm-8 col-md-6" id="descricao" />
                        <span asp-validation-for="Descricao" class="text-danger" id="descricao-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-form-label text-sm-right pr-0">
                        <label asp-for="Modelo" for="modelo" class="mb-0">
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Modelo" class="form-control col-sm-8 col-md-6" id="modelo" />
                        <span asp-validation-for="Modelo" class="text-danger" id="danger-modelo"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-form-label text-sm-right pr-0">
                        <label asp-for="Marca" for="marca" class="mb-0">
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Marca" class="form-control col-sm-8 col-md-6" id="marca" />
                        <span asp-validation-for="Marca" class="text-danger" id="danger-marca"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-form-label text-sm-right pr-0">
                        <label asp-for="Quantidade" for="qtd" class="mb-0">
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" asp-for="Quantidade" class="form-control col-sm-8 col-md-6" id="qtd" />
                        <span asp-validation-for="Quantidade" class="text-danger" id="danger-qtd"></span>
                    </div>
                </div>
                <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-3 col-md-9 text-nowrap">
                        <button class="btn btn-info btn-bold px-4" onclick="createEstoqueMaterial()">
                            <i class="fa fa-check mr-1"></i>
                            Enviar
                        </button>
                        <button onclick="apagarCampos" class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" type="reset">
                            <i class="fa fa-undo mr-1"></i>
                            Apagar Tudo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </di1v>

    <footer class="footer d-none d-sm-block">
        <div class="footer-inner bgc-white-tp1">
            <div class="pt-3 border-none border-t-3 brc-grey-l2 border-double">
                <span class="text-primary-m1 font-bolder text-120">Veda</span>
                <span class="text-grey">Application &copy; 2021</span>
                <span class="mx-3 action-buttons">
                    <a href="#" class="text-blue-m2 text-150"><i class="fab fa-twitter-square"></i></a>
                    <a href="#" class="text-blue-d2 text-150"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-orange-d1 text-150"><i class="fa fa-rss-square"></i></a>
                </span>
            </div>
        </div>
        <div class="footer-tools">
            <a href="#" class="btn-scroll-up btn btn-dark mb-2 mr-2">
                <i class="fa fa-angle-double-up mx-2px text-95"></i>
            </a>
        </div>
    </footer>
    <footer class="d-sm-none footer footer-sm footer-fixed">
        <div class="footer-inner">
            <div class="btn-group d-flex h-100 mx-2 border-x-1 border-t-2 brc-primary-m3 bgc-white-tp1 radius-t-1 shadow">
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0" data-toggle="modal" data-target="#id-ace-settings-modal">
                    <i class="fas fa-sliders-h text-blue-m1 text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0">
                    <i class="fa fa-plus-circle text-green-m1 text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                    <i class="fa fa-search text-orange text-120"></i>
                </button>
                <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0 mr-0">
                    <span class="pos-rel">
                        <i class="fa fa-bell text-purple-m1 text-120"></i>
                        <span class="badge badge-dot bgc-red position-tr mt-n1 mr-n2px"></span>
                    </span>
                </button>
            </div>
        </div>
    </footer>
    <script src="~/lib/ace-v3.1.1/node_modules/autosize/dist/autosize.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/bootstrap-maxlength/dist/bootstrap-maxlength.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/inputmask/dist/jquery.inputmask.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/nouislider/distribute/nouislider.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/ion-rangeslider/js/ion.rangeSlider.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/tiny-date-picker/dist/date-range-picker.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/moment/moment.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/es6-object-assign/dist/object-assign-auto.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/jaames/iro/dist/iro.js"></script>
    <script src="~/lib/ace-v3.1.1/node_modules/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="~/lib/ace-v3.1.1/dist/js/ace.js"></script>
    <script src="~/lib/ace-v3.1.1/app/browser/demo.js"></script>
    <script src="~/lib/ace-v3.1.1/views/pages/form-basic/page-script.js"></script>
</body>
</html>











